.ticket {
  width: clamp(240px, 100%, 502px);
  height: auto;
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 1px 2px 16px 3px rgba(236, 236, 236, 0.644);
}

.ticket .wrapper {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 16px;
  color: #0b8af1;
  font-weight: 600;
}

.header img {
  margin-top: 16px;
}

.ticket .main {
  display: flex;
  font-size: 12px;
  margin-top: 16px;
}

.ticket .row {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.ticket .row span:last-of-type {
  display: flex;
  margin-bottom: 16px;
}

.ticket .row span:first-child {
  color: rgb(180, 180, 180);
  margin-bottom: 4px;
}

@media screen and (min-width: 520px) {
  .ticket .wrapper {
    flex-direction: column;
  }

  .ticket .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .ticket .header img {
    margin-top: 0;
  }

  .ticket .header span {
    font-size: 20px;
    letter-spacing: 1.2px;
  }

  .ticket main {
    flex-direction: column;
  }

  .ticket .row {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 72px;
  }

  .ticket .row > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
