.more {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2196f9;
    border: 1px solid #2196f9;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    transition: all ease-in-out .15s;
}

.more:hover {
    background-color: #197aca;
}

.more:active {
    background-color: #197aca9c;
}