.wrapper {
  display: flex;
  justify-content: center;
  width: clamp(240px, 95%, 502px);
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 1px 2px 16px 3px rgba(252, 252, 252, 0.644);
}

.wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: white;
  border: 1px solid #dfe5ec;
  width: clamp(100px, 33.33%, 168px);
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.wrapper .active {
  background-color: #2196f3;
  color: white;
}

.wrapper button:first-child {
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.wrapper button:last-child {
  border-radius: 0 5px 5px 0;
  border-left: none;
}
